body {
    background-color: #36393f;
    color: #dcddde;
    font-family: 'Whitney', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the start (top) */
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    margin-top: 15px;
    margin-left: -650px
}

button {
    background-color: #7289da;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
}

button:hover, button.active {
    background-color: #677bc4;
}

#canvas, #video {
    border-radius: 15px;
}

#video {
    border: 8px solid green;
}

#button-container, #video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    background-color: #202225;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Center items horizontally */
    box-sizing: border-box;
}

#sidebar label, label {
    margin-bottom: 10px;
    font-size: 0.93em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    margin-left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #7289da;
}

input:checked + .slider:before {
    transform: translateX(18px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.separator {
    height: 1px;
    width: 100%;
    background-color: #ffffff;
    margin-top: 15px;
    margin-bottom: 20px;
}

.switch-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
}

.switch-container > div, input[type=range] {
    width: 100%;
}

.switch-container > div {
    display: flex;
    align-items: flex-end; /* Align items to the bottom */
    justify-content: space-between;
}

input[type=range] {
    background: #ccc;
    margin-top: 8px;
    position: absolute;
    top: 0;
    width: 100%;
    background: #36393f; /* Same color as the main background */
}

h2 {
    margin-top: -3px;
    margin-bottom: 18px;
    text-align: center;
}

#video-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.slider-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    height: 40px; /* Adjust as needed */
}

.slider-container span {
    color: #7a8291;
    font-size: 10px;
    bottom: 0;
}

.slider-container span:first-child {
    left: 0; /* Align to the left */
    margin-top: 26px;
}

.slider-container span:last-child {
    right: 0; /* Align to the right */
    margin-top: 26px;
}

#sidebar-right {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 500px;
    background-color: #202225;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Center items horizontally */
    box-sizing: border-box;
    overflow-y: auto;
}

#video-list table {
    width: 100%;
    margin-bottom: 20px;
}

#video-list td:first-child {
    font-weight: bold;
}

#video-list li {
    width: 450px;
    display: flex;
    background-color: #2c2f33;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#video-list img {
    width: 120px;
    height: 90px;
    margin-right: 10px;
}

#video-list .video-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#video-list .video-details span {
    margin-bottom: 5px;
}

#video-list .video-details .video-name {
    font-size: 14px;
    font-weight: bold;
    color: #dcddde;
}

#video-list .video-details .video-size,
#video-list .video-details .video-date {
    font-size: 12px;
    color: #8e9297;
}
#video-list img {
    width: 120px;
    height: 90px;
    margin-right: 10px;
    object-fit: cover; /* Preserve aspect ratio while filling the element's box */
}